html{
    background-image: url('media/gradient.jpg');
    background-size: cover;
}
body{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}
.hand{
    width: 50%;
    height: 10px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
    top: 50%;
    transition: all 0.0001s;
    transform-origin: 100%;
    transition-timing-function: ease-in-out;
    transform: rotate(90deg);
}
.clock{
    width: 500px;
    height: 500px;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0px rgba(0, 0 , 0 , 0.1)
    inset 0 0 0 3px #efefef
    inset 0 0 10px black
    0 0 10px black;
}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-3px);    
}
.number{
    font-size: 50px;
    color: white;
    position: absolute;
    transition: all 0.50s;
}
.num-12{
    margin-left: 47%;
}
.num-9{
    margin-top: 45%;
}
.num-6{
    margin-left: 50%;
    margin-top: 92%;
}
.num-3{    
    margin-left: 95%;
    margin-top: 45%;
}

.after{
    color: rgb(225, 14, 14);
    transform: scale(1.5);
    text-shadow: 10px;
}